@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Assistant:wght@200;300&family=Chivo&family=Inter&family=Lexend+Deca&family=Martel+Sans&family=Merriweather+Sans:ital,wght@1,300&family=Open+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400&family=Quicksand:wght@300;500&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&family=Work+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Assistant:wght@200;300&family=Big+Shoulders+Display:wght@700&family=Chivo&family=Inter&family=Lexend+Deca&family=Martel+Sans&family=Merriweather+Sans:ital,wght@1,300&family=Open+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400&family=Quicksand:wght@300;500&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&family=Work+Sans:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;

}

.container {
    display: flex;
    width: 90%;
    min-height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.sedan {
    background-color: hsl(31, 77%, 52%);
    padding: 60px 35px 60px 35px;
    width: 24%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.sedan>* {
    margin-bottom: 20px;



}

p {

    line-height: 1.7em;
    color: hsl(0, 0%, 100%, 0.75);

}


h3 {
    font-size: 40px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    padding: 60px 32px 60px 32px;
    width: 23.3%;


}

.suv>* {
    margin-bottom: 20px;

}

.lux {
    background-color: hsl(179, 100%, 13%);
    padding: 60px 35px 60px 35px;
    width: 24%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.lux>* {
    margin-bottom: 20px;
}

.btn-1 {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    position: relative;
    top: 40px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}


.btn-2 {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    position: relative;
    top: 40px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}


.btn-3 {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    position: relative;
    top: 40px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}


.btn-1:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: white;


}

.btn-2:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: white;


}

.btn-3:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: white;


}

/* mobile responsiveness */
@media screen and (max-width:375px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        gap:10px;

    }

    .sedan,
    .suv,
    .lux {
        width: 100%;
        border-radius: 5px;

    }


}


